.video-info.card video {
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 4px;
  max-height: 400px;
}
.video-info.card .header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.video-info.card .edit-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--primary-dark);
  cursor: pointer;
}

.dark .video-info.card .edit-btn {
  color: var(--very-light);
}

.video-info.card .edit-btn:hover {
  color: var(--primary-color);
}

.video-info.card .row {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.video-info.card .row > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding-right: 3rem;
  border-right: 1px solid var(--primary-color);
}

.video-info.card .row > div:last-child {
  border-right: none;
  padding-right: 0;
}

.video-info.card .row h4 {
  font-weight: 500;
}
