.video-card {
  background-color: #fff;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.dark .video-card {
  background-color: var(--dark-bg);
  color: var(--very-light);
}

.video-card > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-card .details {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.video-card:hover {
  background-color: var(--secondary-gray\36);
}
