.course-info {
  width: 100%;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
}

.dark .course-info {
  background-color: var(--dark-bg);
  color: var(--very-light);
}

.course-info img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  margin-bottom: 1rem;
}

.course-info .about h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.course-info .about p {
  margin-bottom: 1rem;
}

.course-info .about .tags {
  display: flex;
  gap: 1rem;
}

.course-info .row {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.course-info .row > .info-block:last-child {
  border-right: none;
  padding-right: 0;
}
