.forbidden {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forbidden img {
  width: 350px;
  margin-bottom: 3rem;
}

.forbidden p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  max-width: 600px;
  text-align: center;
}

.forbidden .btn {
  width: fit-content;
  margin-bottom: 2rem;
}
