.chat {
  background-color: white;
  width: 68%;
  height: calc(100vh - 108px);
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.chat .no-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
}

.dark .chat {
  background-color: var(--dark-bg);
}

.chat .chat-header {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  border-bottom: 1px solid var(--secondary-gray);
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
}

.dark .chat .message-input {
  background-color: var(--primay-gray);
}

.chat .chat-header .user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.chat .chat-header .user-name {
  font-size: 1.2rem;
}

.chat .msgs {
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  flex: 1;
}

.chat .msgs::-webkit-scrollbar {
  background-color: white;
}

.chat .msgs .msg1 {
  padding: 0.5rem;
  max-width: 70%;
  width: fit-content;
  background-color: var(--secondary-gray\36);
  border-radius: 4px;
}

.chat .msgs .msg2 {
  padding: 0.5rem;
  max-width: 70%;
  width: fit-content;
  align-self: self-end;
  background-color: var(--very-light-gray);
  color: var(--very-dark);
  border-radius: 4px;
}

.chat .message-input {
  position: relative;
  height: 3.5rem;
  background-color: var(--secondary-gray);
  border-radius: 4px;
}

.chat .message-input textarea {
  bottom: 0;
  width: 95%;
  height: 100%;
  resize: none;
  background-color: transparent;
  border: none;
  scrollbar-width: none;
  padding: 0.5rem;
  padding-right: 1.2rem;
  font-size: 1rem;
}

.chat .message-input textarea:focus {
  outline: none;
}

.dark .chat .message-input .send-icon,
.dark .chat .message-input textarea,
.dark .chat .message-input textarea::placeholder {
  color: var(--very-light);
}

.chat .message-input .send-icon {
  height: 100%;
  position: absolute;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}
