button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-top: 1.5rem;
  cursor: pointer;
  max-width: 450px;
}
