.btn {
  padding: 0.75rem 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-top: 1.5rem;
  cursor: pointer;
  max-width: 450px;
  width: 100%;
}

.primary {
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.border {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.btn.icon {
  border: none;
  background-color: transparent;
  width: fit-content !important;
  color: var(--primary-dark);
}

.btn.disabled {
  opacity: 0.7;
}

.dark .icon {
  color: var(--primary-light);
}
