.card5 {
  grid-column: span 2;
  flex-direction: column;
  align-items: center;
}

.dark .card5 {
  color: var(--very-dark);
}

.dark .card5 h4 {
  color: var(--very-light);
}

.card5 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
}

.card5 .header select {
  width: fit-content;
  padding-right: 1rem;
  padding: 0.4rem 1rem;
  border: 1px solid var(--primary-color);
  box-shadow: 4px 3px 5px var(--primay-gray\24);
  border-radius: 4px;
}
