.lesson-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lesson-info .card {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 4px;
}

.lesson-info .card > h2 {
  margin-bottom: 1rem;
}

.dark .lesson-info .card {
  background-color: var(--dark-bg);
  color: var(--very-light);
}

.lesson-info .card p {
  margin-bottom: 1rem;
}
