.profile-card.edit {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}

.profile-card .back-btn {
  position: absolute;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
  top: 1.5rem;
}

.profile-card form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  justify-content: center;
  width: 550px;
  margin: 0 auto;
}

.profile-card form textarea,
.profile-card form input {
  width: 550px;
}

.profile-card h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.profile-card form .profile-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  object-fit: cover;
}

.profile-card .date-field {
  width: 550px;
  max-width: none;
}

.profile-card .date-field input {
  width: 100%;
}

.dark .profile-card .date-field,
.dark .profile-card .date-field input {
  color: var(--very-light);
}

.row.specialization {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.profile-card.edit .btn.primary {
  align-self: flex-end;
  width: fit-content;
}
