.welcome {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  color: var(--very-light);
  background: linear-gradient(65deg, var(--primary-color), var(--primary-dark));
  padding: 1.5rem 1.5rem;
  border-radius: 4px;
  z-index: 0;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.welcome div {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.welcome .name {
  font-size: 1.7rem;
}

.welcome p:nth-child(2) {
  font-size: 1.1rem;
  font-weight: 300;
}

.welcome.hide {
  display: none;
}

.welcome button {
  color: var(--very-light);
  font-size: 1.5rem;
  background-color: transparent;
  border: 1px solid var(--very-light);
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1;
  border-radius: 4px;
}

.welcome .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
