.comment {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
.comment.reply {
  width: 90%;
  justify-self: end;
}

.comment .user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.comment > div {
  min-width: 180px;
}

.comment .comment-content {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-gray\36);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 0.2rem;
}

.comment .actions {
  display: flex;
  justify-content: space-between;
  margin-right: 0.8rem;
}

.comment .actions .liked {
  color: var(--primary-color);
}

.comment .actions div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.comment .actions span {
  margin-left: 0.6rem;
  cursor: pointer;
}

.comment .actions span:hover {
  text-decoration: underline;
}

.comment h4 {
  margin-bottom: 0.6rem;
}
