.followers-list {
  width: 38%;
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
  overflow-y: scroll;
  height: fit-content;
  max-height: calc(100vh - 60px - 3rem);
  color: var(--very-dark);
}

.followers-list h2 {
  font-size: 1.2rem;
  margin: 0.4rem 0 1rem 0.4rem;
  color: var(--primary-light);
}

.followers-list .no-followers {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.followers-list > p {
  margin-left: 1rem;
}

.followers-list .see-more {
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.dark .followers-list {
  background-color: var(--dark-bg);
  color: var(--very-light);
}
