.field {
  position: relative;
  max-width: 450px;
}

.field input {
  width: 100%;
  padding: 20px 10px 3px;
  border: none;
  border-bottom: 1.5px solid var(--primary-color);
  background: transparent;
  font-size: 1rem;
  height: 50px;
  margin-bottom: 0.75rem;
}

.field input:focus {
  outline: none;
}

.label {
  position: absolute;
  top: 16px;
  left: 3px;
  color: var(--primary-dark);
  transition: 0.2s ease;
  pointer-events: none;
  font-size: 1.15rem;
}

.field input:disabled ~ .label,
.field input:focus ~ .label,
.field input:valid ~ .label {
  top: 0px;
  color: var(--primary-color);
  font-size: 1rem;
}

.dark .field input {
  color: var(--very-light);
}
.dark .label {
  color: var(--primary-light);
}

.remove-tag {
  position: absolute;
  top: 18px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--primary-color);
  font-size: 1.5rem;
}
