.auth-layout .auth-layout-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  min-width: 498px;
}

.auth-layout .auth-layout-form form input {
  width: 100%;
  border: none;
  padding: 20px 10px 3px;
  border-bottom: 1.5px solid var(--primary-color);
  background: transparent;
  font-size: 1rem;
  height: 50px;
}

.auth-layout .auth-layout-form form input:focus {
  outline: none;
}

.auth-layout .auth-layout-form form .label {
  position: absolute;
  top: 16px;
  left: 3px;
  color: var(--primary-dark);
  transition: 0.2s ease;
  pointer-events: none;
  font-size: 1.15rem;
}

.auth-layout .auth-layout-form form input:focus ~ .label,
.auth-layout .auth-layout-form form input:valid ~ .label {
  top: 0px;
  color: var(--primary-color);
  font-size: 1rem;
}
