.video-editor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.video-editor h2 {
  margin-bottom: 1rem;
}

.video-editor .grid .field,
.video-editor .grid .file-field {
  max-width: none;
}

.video-editor .grid .textarea,
.video-editor .grid .upload-video {
  grid-column: span 2;
  justify-self: center;
  max-width: none;
}

.video-editor .btn {
  width: 49%;
  margin-top: 0;
  align-self: center;
}
