.posts-group {
  width: 60%;
}

.posts-group > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.posts-group h2 {
  font-weight: 500;
  color: var(--primary-light);
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pagination-controls button {
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--primary-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-controls button:disabled {
  opacity: 0.7;
}
