.no-posts {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: white;
  margin-top: 6rem;
  border-radius: 4px;
  padding: 2rem 1rem;
}

.no-posts img {
  width: 350px;
  margin-bottom: 3rem;
}

.no-posts p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  max-width: 500px;
  text-align: center;
}

.dark .no-posts {
  background-color: var(--dark-bg);
}
