.auth-layout .auth-layout-form form .password {
  position: relative;
  max-width: 450px;
}

.auth-layout .auth-layout-form form .password .icon {
  position: absolute;
  top: 20px;
  right: 10px;
  color: var(--primary-dark);
  cursor: pointer;
}

.auth-layout .auth-layout-form form .password .forget {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  right: 0;
  bottom: 10px;
}
