.courses-page-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.courses-page-header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.courses-page-header h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.courses-page-header button {
  margin: 0;
  padding: 0.5rem 1.5rem;
  width: 166px;
}

.courses-page-header div form,
.courses-page-header div div {
  display: flex;
  gap: 1rem;
}

.courses-page-header div form .btn {
  width: fit-content;
  padding: 0.5rem 1rem;
}

.courses-page-header div input {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid var(--primay-gray);
  font-size: 1rem;
  color: var(--very-dark);
  width: 370px;
}

.dark .courses-page-header div input {
  border-color: var(--very-light);
  background-color: var(--dark-bg);
  color: white;
}

.courses-page-header div input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

.courses-page-header div input:focus::placeholder {
  color: var(--primary-color);
}

.courses-page-header .filter {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  justify-content: end;
}

.courses-page-header .filter select {
  width: 200px;
}
