.user-item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1rem;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.user-item:hover {
  background-color: var(--secondary-gray\36);
}

.user-item .user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.user-item .user-name {
  font-size: 1.2rem;
  flex: 1;
}

.user-item:last-child {
  border: none;
}

.user-item .del-chat {
  background: none;
  border: none;
  text-align: end;
  font-size: 1.4rem;
  cursor: pointer;
  display: none;
}

.user-item .del-chat:hover {
  color: #dc3545;
}

.user-item:hover .del-chat {
  display: block;
}
