.user-item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1rem;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.user-item:hover {
  background-color: var(--secondary-gray\36);
}

.user-item .user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-item .user-name {
  font-size: 1.2rem;
}

.user-item:last-child {
  border: none;
}
