.auth-layout .auth-layout-form form .password {
  position: relative;
}

.auth-layout .auth-layout-form form .password .icon {
  position: absolute;
  top: 20px;
  right: 10px;
  color: var(--primary-dark);
  cursor: pointer;
}

.auth-layout .auth-layout-form form .password .forget {
  color: var(--primary-color);
  text-align: end;
  margin-top: 0.5rem;
  cursor: pointer;
}
