.upload-image {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.upload-image label {
  color: var(--very-dark);
}

.upload-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.upload-image .upload-icon {
  position: absolute;
  bottom: 10px;
  right: 6px;
  width: 30px;
  height: 30px;
  background-color: #d4d4d4;
  color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.upload-image .upload-icon.disabled {
  cursor: not-allowed;
}

.upload-image .upload-icon:hover {
  opacity: 0.8;
}
