.auth-layout {
  display: flex;
  height: 100vh;
  background-color: var(--very-light);
  padding: 10rem;
  gap: 2rem;
}

.auth-layout .auth-layout-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-layout .auth-layout-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  max-width: 450px;
}
