.lesson-comments {
  position: relative !important;
  padding-bottom: 4rem !important;
}

.lesson-comments .comment-input {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.lesson-comments .no-comments {
  margin: 0;
  margin-bottom: 2rem;
}

.lesson-comments .no-comments .icon {
  margin-bottom: 1rem;
}
