.course-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  color: var(--very-dark);
  background-color: white;
  border-radius: 4px;
}

.course-card:hover {
  box-shadow: 2px 5px 5px var(--primay-gray\24);
}

.course-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.course-card h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.course-card div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
}

.course-card .star {
  color: #fbbf24;
  font-size: 1rem;
}

.course-card .category {
  font-size: 0.8rem;
  color: var(--primary-color);
  background-color: var(--very-light);
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
}

.course-card .price {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.course-card span {
  font-size: 0.8rem;
  color: var(--primay-gray);
}

.course-card .line {
  width: 100%;
  height: 1px;
  background-color: var(--primay-gray);
}

.dark .course-card {
  background-color: var(--dark-bg);
  color: var(--very-light);
}
