.upload-video {
  width: 100%;
  height: 350px;
  margin-bottom: 4rem;
}

.upload-video video.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.upload-video .upload-icon {
  color: var(--very-dark);
  height: 100%;
  background-color: #d4d4d4;
  color: white;
  padding: 5px;
  font-size: 28px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.upload-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.upload-video .upload-icon span {
  font-size: 48px;
}

.upload-icon:hover {
  opacity: 0.8;
}

.upload-video .loading-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  border: 1px solid var(--primary-color);
  margin-top: 1rem;
  padding: 0 1rem;
  border-radius: 4px;
  margin-bottom: 4rem;
}

.upload-video .loading-info .name {
  width: 80%;
  overflow: hidden;
}

.upload-video .loading-info .btn {
  padding: 1rem;
}
