.square-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.square-loader:after {
  content: "";
  background: var(--primary-color);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  transform-origin: -16px -32px;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0%,
  100% {
    transform: rotate(-45deg) translate(-50%, -50%);
  }
  50% {
    transform: rotate(-245deg) translate(-50%, -50%);
  }
}
