.details-layout {
  width: 60%;
  color: var(--very-dark);
  height: fit-content;
  top: 1rem;
  position: sticky;
  bottom: 2rem;
}

.details-layout .category {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
}

.details-layout .title {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.details-layout .title:hover {
  color: var(--primary-color);
}

.dark .details-layout {
  color: var(--very-light);
}

.details-layout .info {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}
